body{
	margin:0px;
	padding:0px;
	color: #808080;
}

#section2 h1{
	font-weight: bold;
	color: black;
	margin-top: 40px;
}
#section2 .event-p{
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	font-weight: lighter;
	color: #b7b7b7;
}
#section3 .fa{
	font-size: 36px;
	line-height: 84px;
	border: 2px solid #9f9f9f;
	padding-left: 25px;
	padding-right: 25px;
	color: rgb(128, 128, 128);

}
#section3 .con-3:hover .fa{
	background-color: #20cfad;
	color:white;
	border-color:  #20cfad;
	cursor: pointer;
	transition: 0.5s ease all;


}
@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}


#section3 .con-3:hover .h3{

	color:#20cfad;

}
#section3 .con-3 {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn; 
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;

	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	transition: 0.3s ease all;


}
@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
}



#section3 span{
	color: #333333;
	font-size: 24px;

}
#section3 .line{

	border-bottom: 1px solid #e9e9e9;
	width: 60px;
	padding: 0 auto;
	height: 1px;
	display: block;
	margin: 0 auto;
}

#section3 .divider{ 
	border-bottom: 1px solid #e9e9e9;
	margin: 50px 0;
	min-height: 1px;
}
#section8 .text-content{
	margin-top: 40px;
	padding-left: 40px;

}
.text-content h3{
	color: #333333;
    font-family: lato;
    font-size: 24px;
}
.text-content span{
color:black;
}
#section3 .top-p{
	color: #b7b7b7;
}
#section3.top-2{
	color: #808080;
}
#section4.text{
	text-align: right;
}
}
#section4 .divider{ 
	border-bottom: 1px solid #e9e9e9;
	margin: 50px 0;
	min-height: 1px;
}
.video-event{
	text-align: right;
}
.video-event h3{
	color: #333333;
	font-family: lato;
	font-size: 24px;

}
.video-element iframe{
	width:100%;


}
.wa-list-check.right ul li:before {
	content: '\f058';
	font-family: 'FontAwesome';
	float: right;
	margin-right: 0px;
	width: 20px;
	color: #505050;
}
.wa-list-check ul li {
	list-style: none;
	color: #505050;
}
.wa-list-check .left{
	
}
.button{
	margin-left: 253px;
}

.wa-button1 {
	background-color: #ffffff;
	border: 1px solid #aaaaaa;
	padding: 13px;
	color: #aaaaaa;
	border-radius: 3px;
	font-size: 16px;
	font-weight: bold;



}
.wa-button {
	background-color: #20cfad;
	border: 1px solid #20cfad;
	border-radius: 3px;
	padding: 13px;
}
.wa-button1  span{
	color: #aaaaaa;

	font-size: 16px;
	font-weight: bold;


}
.wa-button span{
	color:white;

	font-size: 16px;
	font-weight: bold;

}
#section5{
	background-color: #20cfad;
	margin-top: 50px;

}

.speakers h3{
	color: white;
}
.heading h3{
	color: white;
}

.heading-subtitle1{
	color: white;
}
#section5.speakers{
	background-color: #333333;
	width:50%;
}
#section5.speaker1{
	border-bottom: 1px solid #686868;
}
#section5 h4{
	color: white;

}
.speaker{
	background-color: #333333;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 3px;
}
.speaker1-name{
	font-size: 13px;
	color: #20cfad;
	font-weight: lighter;
}
.speaker1-description{
	color: #8a8989;
}
.speaker1-name span{
	

}
.speaker1-description
{
	color: #8a8989;
}

#section5 .fab{
	font-size: 20px;
	background-color: rgb(128, 128, 128);
	line-height: 36px;
	color: #404040;
	border-radius: 3px;
	margin-right: 5px;
	padding-left: 15px;
	padding-right: 15px;
	border:none;
}
#section4 .wa-button1:hover{
	background-color: black;
	text-decoration: none;
	cursor:pointer;
	transition: 0.5s ease all;
}
.wa-button1:hover{
	color: white;

}
#section4 .wa-button:hover{
	background-color: black;
	text-decoration: none;
	transition: 0.5s ease all;
}
#section4 .wa-button span:hover{
	color:white;
}
#section5 .fa:hover{
	background-color: #20cfad;
}
.speaker1-name span::after{
	content: "";
	border-bottom: 1px solid #686868;
	width:50px;
	margin-top: 10px;
	display:block;

}
#section5 .heading h3{
	margin-top:40px;
	font-size: 36px;
}
#section5 .heading-subtitle{
	color: #06886f;
	font-weight: lighter;
	font-family: lato;
	font-size: 18px;
}
.outer_box{
	padding:1rem;
}
#section3 .divider{
	border-bottom: 1px solid #e9e9e9;
	margin: 50px 0;
	min-height: 1px;
	width: 100%;
}
.button{
	margin-top: 35px;
	margin-bottom: 35px;
}
#section6 h1{
	font-weight: bold;
	color: black;
	margin-top: 40px;

}

#section6 .heading-event-subtitle
{    color: #a0a0a0;
	font-size: 18px;
	font-weight: lighter;
    font-family: lato;
}


.nav-tabs {
    margin-top: 42px;
}

#section6 span{
	font-size: 13px;
	font-weight: lighter;
	color: #06886f;

}
.tab-custom{
	margin-top: 40px;
}


.nav-link.active{
	background-color: #20cfad!important;
	color: white;
	text-align: center;
	border-radius:0px;
	transition: none!important;
	 -webkit-transition: none;
	


}
.nav-link span{
	color: #b0b0b0!important;
}
.nav-link{
	    background-color: #e9e9e9!important;
	        margin-left: 1px;
	       color: #b0b0b0!important;
}
.nav-item a{
	
	    color: #9f9f9f;
}
.nav-item .active{

	color: white!important;
}



#home-tab span{
	
	font-size: 13px;
	font-weight: lighter;
	display: block;
	    padding-left: 5px;
    padding-right: 5px
}
.nav-link.active span {
	    color: #06886f!important;

}
#profile-tab span {
display: block;
    font-size: 13px;
    color: #b0b0b0;
    font-weight: lighter;

}
#contact-tab span{
	display: block;
    font-size: 13px;
    color: #b0b0b0;
    font-weight: lighter;

}
.friday-timings{
	font-family: 'Open Sans' !important;
    color: #808080!important;
    font-size: 14px!important;
}
#section6 .friday-schedule{
	    color: #333333;
	    font-size: 18px;
	    font-weight: 400!important;
}
 #section6 #myTabContent .row{
margin:10px;
} 
#section6 .nav-link{
	text-align: center;

}
#section6 #myTabContent p{
	margin-left:-74px;
} 

#section3 .profile-tab{
	color: #e9e9e9;
}
#section6 .friday-timings span{

	    padding-left: 50px;

}
#section6 .fa-dot-circle{
    padding-left: 17px;
}



#section7 h1{
	font-weight: bold;
	color: black;
	margin-top: 40px;

}

#section7 .FAQ-subtitle
{   font-size: 18px;
    font-family: 'Lato';
    font-weight: lighter;
    color: #a0a0a0;
}
#section7 .mb-0:active,hover{
	    color: #9f9f9f;
    background-color: #20cfad;
}
.btn-link:hover{
     color:white!important;
    text-decoration: none!important;
}
.btn-link.{
     background-color: #20cfad;
    color:white;
}
.btn-link{
	width: 100%;
    text-align: left;
 
    text-decoration: none!important;
    color:white;
   background-color: #20cfad;
    padding: 15px 15px 15px 25px;
    outline: 0;
    letter-spacing: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.5em;
    margin: 0;
    margin-top: 0px;
    cursor: pointer;
}
.btn-link.collapsed{
	background-color: white;
	color: #9f9f9f!important;


}



#accordionExample{
	margin-top: 50px;

}
.card-header{
	padding:0px!important;
	background-color: white;
}
#section7 .fas {
   
    padding-right: 25px;





}
@media only screen and (max-width: 767px) {
	#section4 h3 {
		text-align: center;

	}
	.video-event{
		text-align: left;
	}
	.wa-list-check ul{
		padding-left: 0px;
	}
	.button{
		margin-top: 40px;
		margin-left: 60px;

	}

	.speaker img{
		width: 100%;
	}
	#section6 #myTabContent p {
    margin-left: 0px!important; 
}

#section6 .nav-link {
 
    width: 136px;
}
.btn-link{
	background-color: white;
}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)
{ 


	.wa-list-check ul{
		padding-left: 0px;

	}
	.button{
		margin-top: 61px;
		margin-bottom: 45px;
	}
	.speaker img{
		width: 100%;
	}
	.video-frame {
		padding:0px;
	}
	#section6 .friday-schedule {
    font-weight: 500!important;
    font-family: lato;
}
}